.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social__svg {
    fill: #000;
    transition-duration: 500ms;
    transition-property: fill;
}

.social__svg:hover {
    fill: #f84545;
}

.social__svg--inst {
    width: 27px;
    height: 26px;
}

.social__svg--fb {
    width: 15px;
    height: 29px;
}

.social__svg--tw {
    width: 30px;
    height: 25px;
}

@media (max-width: 768px) {
    .social__item {
        margin: 15px;
    }
}